<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add manager</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="card my-2-2 col-4 offset-4">
    <form action="/manager/add" method="post">
        <div class="card-header bg-dark text-white">Add category</div>
        <div class="card-body">
            <input class="form-control my-2" name="phone" type="text" placeholder="Phone number" required="required">
            <input class="form-control" name="password" type="text" placeholder="password" required="required">
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-dark">Save</button>
        </div>
    </form>
</div>

</body>
</html>